################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnSoftSGSST/v14/.suo
/.vs/config/applicationhost.config
